body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .left-column {
    flex: 1;
    padding: 20px;
    background-color: #eceaea;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative; /* Set the left column as a positioned element */
    z-index: 1; /* Ensure the left column is above the right column */
  }
  
  
  .signup-container {
    max-width: 400px;
    margin: auto;
  }

  .heading {
    font-size: 19px; /* Adjust the value as per your requirement */
    text-align: center;
  }


  
  h1 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  /* .form-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  } */
  
  label {
    font-size: 14px;
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .signup-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
  }
  
  .signup-button:hover {
    background-color: #0056b3;
  }

  /* Your existing CSS styles */

.right-column {
    flex: 1;
    background-color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: flex-end; /* Align the image to the right of the right column */
    position: relative; /* Set the right column as a positioned element */
    z-index: 0; /* Ensure the right column is behind the left column */
  }
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  