.wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
  border-top: solid #777777 2px;
}

.container {
  min-height: 300px;
  width: 100%;
  padding: 12px 24px;
}

.logo {
  font-size: 36px;
  padding: 8px 12px;
}

.categoryContainer {
  display: flex;
  justify-content: space-between;
  padding: 48px 96px 0;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #9ca3af;
  list-style: none;
  padding: 16px 0 0 0;
}

.link {
  /*  */
}

.link:hover {
  color: #111827;
}

.copyRight {
  display: flex;
  justify-content: center;
  margin: 24px 0;
}