.wrapper {
  width: 100vw !important;
  display: flex !important;
  justify-content: center !important;
  border-top: solid #777777 2px !important;
}

.container {
  min-height: 300px !important;
  width: 100% !important;
  padding: 12px 24px !important;
}

.logo {
  font-size: 36px !important;
  padding: 8px 12px !important;
}

.categoryContainer {
  display: flex !important;
  justify-content: space-around !important;
  
}

.links {
  display: flex !important;
  flex-direction: column !important;
  gap: 8px !important;
  color: #9ca3af !important;
  list-style: none !important;
  padding: 16px 0 0 0 !important;
}

.link a {
  color: #777777 !important;
}

.link:hover {
  color: #111827 !important;
}

.copyRight {
  display: flex !important;
  justify-content: center !important;
  margin: 24px 0 !important;
}
