.wrapper {
  min-height: 80px;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0 0 8px 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  box-shadow: 0px 5px 5px #C8C8C8;
}

.logo {
  font-size: 36px;
  padding: 8px 12px;
}

.searchBar {
  position: relative;
  display: flex;
  align-items: center;
  min-width: 400px;
}

.searchBar .searchInput {
  width: 100%;
  border: solid #000000 1px;
  border-radius: 20px;
  padding: 4px 8px;
}

.searchBar .searchInput:focus {
  outline: none;
}

.searchIcon {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0%, -50%);
}

.links {
  display: flex;
  align-items: center;
  gap: 18px;
  list-style: none;
}

.link a {
  display: flex;
  padding: 0 12px;
}