.wrapper {
  min-height: 80px !important;
  width: 100vw !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0 0 8px 0 !important;
}

.container {
  width: 100% !important;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  padding: 0 24px !important;
  box-shadow: 0px 5px 5px #c8c8c8 !important;
}

.logo {
  font-size: 36px !important;
  padding: 8px 12px !important;
}

.searchBar {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  min-width: 400px !important;
}

.searchBar .searchInput {
  width: 100% !important;
  border: solid #000000 1px !important;
  border-radius: 20px !important;
  padding: 4px 8px !important;
}

.searchBar .searchInput:focus {
  outline: none !important;
}

.searchIcon {
  position: absolute !important;
  top: 50% !important;
  right: 5% !important;
  transform: translate(0%, -50%) !important;
}

.links {
  display: flex !important;
  align-items: center !important;
  gap: 18px !important;
  list-style: none !important;
}

.link a {
  display: flex !important;
  padding: 0 12px !important;
  color: #000000 !important;
  text-decoration: none !important;
}

.btn {
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}