.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
  margin: 24px 0;
}

.flex {
  display: flex;
  gap: 48px;
}

.container section {
  background-color: #d1d5db;
  border-radius: 12px;
  padding: 24px;
}

.maxWidth1000 {
  max-width: 1000px;
}

/* profile section ================================= */
.profileSection {
  width: 60%;
}

.profileContents {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-size: 20px;
  margin-top: 16px;
}

/* skills section ================================= */
.skillsSection {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}

.skillsSection p {
  line-height: 48px;
}

/* details section ================================= */
.container section.details {
  width: 100%;
  padding: 24px 0;
}

.tabContainer {
  width: 100%;
  border-bottom: solid #000000 1px;
}

.tabs {
  display: flex;
  gap: 48px;
  padding: 0 24px 12px;
}

.tab {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}

.active {
  font-weight: 800;
}

.body {
  padding: 24px;
}

.schedule {
  width: 50%;
}

.days {
  list-style: none;
}

.day {

}

.calendar {
  width: 50%;
}